body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #171717;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.wrapper {
    max-width: 1460px;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.menu-button {
    padding: 10px 25px;
    border: 1px solid #E4B564;
    gap: 10px;
}

.menu-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

.block1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 120px;
}

.grid1 {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

}

.item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    height: 467px;
}

.item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: span 2
}

.item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
    height: 467px;
}

.item5 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
}

.block2 {
    display: flex;
    flex-direction: column;
    margin: 160px 0 190px 0px;
    gap: 90px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 30px;
}

.grid2-item1 {
    grid-row: span 2;
    height: 255px;
}

.grid2-item2 {
    grid-row: span 3;
}

.grid2-item3 {
    grid-row: span 2;
}

.grid2-item4 {
    grid-row: span 4;
}

.grid2-item6 {
    grid-row: span 3;
}

.grid2-item5 {
    grid-row: span 2;
}

.grid2-item7 {
    grid-row: span 2;
}

.grid2-text {
    padding: 45px 0px 0px 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.grid2-text span {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.block3 {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 240px;
}

.block3-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 160px;
}

.block3-button {
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    border: 1px solid #E4B564;
    background-color: #0e0e0e;
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.grid3 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 391px 391px;
    grid-template-areas: 
    "grid3-item1 grid3-item2 grid3-item3"
    "grid3-item4 grid3-item5 grid3-item6";
}

.grid3-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #634F2C;
}

:hover.grid3-item1 {
    background-color: rgba(99, 79, 44, 0.75);
}

.grid3-item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    background-color: #E8D2AB
}

.grid3-text span {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

:hover.grid3-item2 {
    background-color: rgba(232, 210, 171, 0.75);
}

.grid3-item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4B564;
}

:hover.grid3-item3 {
    background-color: rgba(228, 181, 100, 0.75);
}

.grid3-item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #635A4A;
}

:hover.grid3-item4 {
    background-color: rgba(99, 90, 74, 0.75);
}

.grid3-item5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B08C4D;
}

:hover.grid3-item5 {
    background-color: rgba(176, 140, 77, 0.75);
}

.grid3-item6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #634F2C;
}

:hover.grid3-item6 {
    background-color: rgba(99, 79, 44, 0.75);
}
